<div class="container-fluid">
  <div class="background-image"></div>
  <main class="container-login">
      <div class="row">
  
          <div class="dark_background col-md-6">
              <section class="dark_form" id="dark_form_1">
                  <h1>Don’t have an account?</h1>
                  <hr>
                  <br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magna aliqua.</p>
                  <button id="signup" class="btn btn_blue uppercase">Sign up</button>
              </section>
          </div>
  
          <div class="dark_background col-md-6">
              <section class="dark_form" id="dark_form_2">
                  <h1>Have an account?</h1>
                  <hr>
                  <br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <button id="login" class="btn btn_blue uppercase">Login</button>
              </section>
  
              <div class="light_background">
                  <section class="light_form" id="login_form">
                      <h1>Login</h1>
                      <br>
                      <hr>
                      <br>
                      <form>
                          <div>
                              <label for="email">Email<span>*</span><i class="fa fa-envelope fa-lg icon"></i></label>
                              <input type="email" name="email" id="email">
                          </div>
                          <div>
                              <label for="password">Password<span>*</span><i class="fa fa-unlock fa-lg icon"></i></label>
                              <input type="password" name="password" id="password"><br>
                          </div>
                          <br>
                          <button class="btn uppercase btn_orange" name="login">Login</button>
                          <a href="#" id="forgot">Forgot?</a>
                      </form>
                  </section>
  
                  <section class="light_form" id="register_form">
                      <h1>Sign Up</h1>
                      <br>
                      <hr>
                      <br>
                      <form>
                          <div>
                              <label for="username">Name<span>*</span><i class="fa fa-user fa-lg icon"></i></label>
                              <input type="text" name="username" id="username">
                          </div>
                          <div>
                              <label for="email">Email<span>*</span><i class="fa fa-envelope fa-lg icon"></i></label>
                              <input type="email" name="email" id="email">
                          </div>
  
                          <div>
                              <label for="password">Password<span>*</span><i class="fa fa-unlock fa-lg icon"></i></label>
                              <input type="password" name="password" id="password">
                          </div>
  
                          <br>
                          <button class="btn uppercase btn_orange" name="register">Sign Up</button>
                      </form>
                  </section>
              </div>
          </div>
      </div>
  </main>
  </div>