@import '../../scss/variables';
@import '../../scss/mixins';

.container-fluid {
    margin-top: 0px;
    background-image: $toDoList-img;
    background-size: cover;
    height: 800px;
}

.container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.list-group {
    width: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 15px;
}