/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import 'scss/mixins';
@import 'node_modules/font-awesome/scss/font-awesome.scss';

.container-fluid {
    padding: 0;
}
body {
    width: 100%;
    margin: 0;
    font-family: $font;
    font-size: 18px;
    font-weight: 400;
  }

  /* Navigation bar styles */
  .navbar {
    background-color: rgba(0, 10, 0, 0.5);
}

.top-nav-collapse {
    background-color: #263238;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #263238;
    }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link { 
      padding-right: 0.8rem;
      padding-left: 0.8rem;
  } }
